@model McStanleyBar.Models.Order
<h3>Cart contains</h3>
<ul>
    @if (Model == null || Model.Tickets == null || Model.Tickets.Count == 0)
    {
        <li>nothing in your cart</li>
    }
    else
    {
        foreach (var item in Model.Tickets)
        {
            <li>@item.Event.Title</li>
        }
    }
</ul>
<div>
    @if (Model == null)
    {
        <span>0</span>
    }
    else
    {
        @Html.DisplayFor(m => m.TotalPrice, Model.TotalPrice)
    }
</div>
